.banner {
	float: left;
	width: 100%;
	height: 108px;
}

.banner img {
	width: 100%;
	height: 100%;
}

.crumbs {
	float: left;
	width: 100%;
}

.crumbs a {
	float: left;
	padding: 0 9px;
	font-weight: bold;
	font-size: 12px;
	line-height: 75px;
	color: #4d4852;
	font-family: "Segoe UI", "wf_segoe-ui_normal", "Arial", sans-serif;
}
.crumbs .zhu{
	background: url(../image/icon2.png) no-repeat 0 32px;
	padding-left: 23px;
}
.crumbs a.on {
	background: url(../image/icon1.png) no-repeat 0 36px;
}

.infor {
	float: left;
	width: 100%;
}

.infor-wrap {
	width: 1295px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.infor-nav {
	position: absolute;
	right: 313px;
}

.infor .tab-nav {
	overflow: hidden;
}

.infor .tab-nav li {
	font-weight: bold;
	cursor: pointer;
	float: left;
	line-height: 75px;
	display: inline-block;
	margin: 0px 25px 0 0;
	color: #505960;
	font-size: 14px;
}
.infor .tab-nav .hover{
	border-bottom: 2px solid #c7000b;
}

.infor .tab-box {
	float: left;
	width: 100%;
}

.infor .tab-box > p {
	color: #858585;
	line-height: 23px;
}

.infor .tab-box p i {
	float: left;
	font-style: normal;
	margin-right: 13px;
}

.none {
	display: none;
}

.main {
	width: 100%;
	float: left;
}
.join-l{
	width: 329px;
	float: left;
	margin-right: 30px;
}
.join-l h1{
	width: 100%;
	float: left;
	font-size: 86px;
	line-height: 86px;
	margin-top: 74px;
	color: #26B7BC;
}
.join-l b{
	width: 100%;
	margin: 14px 0;
	float: left;
	font-size: 25px;
	line-height: 25px;
	color: #505960;
}
.join-l span{
	width: 100%;
	float: left;
	font-size: 17px;
	line-height: 17px;
	color: #606363;
	padding-bottom: 22px;
	border-bottom: 2px solid #A2A4B4;
}
.join-l >p{
	width: 100%;
	float: left;
	margin-top: 40px;
	font-size: 16px;
	line-height: 28px;
	color: #606363;
}
.join-r{
	width: 936px;
	float: left;
	margin-top: 94px;
}
.join-r li{
	float: left;
	width: 458px;
	height: 182px;
	padding: 0;
	margin-left: 10px;
	margin-bottom: 10px;
}
.join-r li img{
	width: 100%;
	height: 100%;
}
.contact-l{
	width: 329px;
	float: left;
	margin-right: 30px;
}
.contact-l h1{
	float: left;
	width: 100%;
	margin-top: 94px;
	color: #505960;
	font-size: 25px;
	line-height: 25px;
}
.contact-l h6{
	float: left;
	width: 100%;
	color: #505960;
	font-size: 35px;
	line-height: 45px;
	opacity: 0.1;
	text-align: right;
	margin-bottom: 50px;
	margin-top: 10px;
	letter-spacing: 10px;
	border-bottom: 2px solid #A2A4B4;
}
.contact-l .p1{
	float: left;
	width: 100%;
	color: #606363;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 10px;
}
.contact-l p img{
	width: 16px;
}
.contact-r{
	width: 936px;
	float: left;
}
.contact-r .map{
	width: 928px;
	height: 374px;
	float: left;
}
.crumbs-wrap {
	width: 1295px;
	margin: 0 auto;
	padding-left: 13px;
	height: 100%;
}

.main-wrap {
	width: 1295px;
	margin: 0 auto;
}
.grow-up{
	float: left;
	width: 100%;
	height: 666px;
	background: url(../image/chengzhang.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.grow-bottom{
	float: left;
	width: 100%;
	margin-top: 30px;
}
.grow-bottom-wrap{
	width: 1290px;
	margin: 0 auto;
}