.banner {
	float: left;
	width: 100%;
	height: 108px;
}

.banner img {
	width: 100%;
	height: 100%;
}

.crumbs {
	float: left;
	width: 100%;
	border-bottom: 2px solid #ABABAB;
}
.crumbs .zhu{
	background: url(../image/icon2.png) no-repeat 0 32px;
	padding-left: 23px;
}
.crumbs a {
	float: left;
	padding: 0 9px;
	font-weight: bold;
	font-size: 12px;
	line-height: 75px;
	color: #4d4852;
	font-family: "Segoe UI", "wf_segoe-ui_normal", "Arial", sans-serif;
}

.crumbs a.on {
	background: url(../image/icon1.png) no-repeat 0 36px;
}

.infor {
	float: left;
	width: 100%;
}

.infor-wrap {
	width: 1295px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.infor-nav {
	position: absolute;
	right: 313px;
}

.infor .tab-nav {
	overflow: hidden;
}

.infor .tab-nav li {
	font-weight: bold;
	cursor: pointer;
	float: left;
	line-height: 75px;
	display: inline-block;
	margin: 0px 25px 0 0;
	color: #505960;
	font-size: 14px;
}
.infor .tab-nav .hover{
	border-bottom: 2px solid #c7000b;
}
.infor .tab-box {
	float: left;
	width: 100%;
}

.infor .tab-box p {
	color: #858585;
	line-height: 23px;
}

.infor .tab-box p i {
	float: left;
	font-style: normal;
	margin-right: 13px;
}

/* .xian {
	height: 2px;
	width: 55px;
	background: #c7000b;
	position: relative;
	left: 0px;
	margin-top: -2px;
} */

.none {
	display: none;
}

.main {
	width: 100%;
	float: left;
}

.main .left {
	float: left;
	width: 895px;
	padding-right: 34px;
	border-right: 2px solid #ABABAB;
}


.news-top {
	float: left;
	width: 100%;
	padding: 20px 0;
	border-bottom: 2px solid #cacad3;
}

.news-top-l {
	width: 458px;
	float: left;
}

.news-top-l .date {
	font-size: 33px;
	color: #26B7BC;
	line-height: 42px;
}

.news-top-l h1 {
	float: left;
	width: 100%;
	line-height: 44px;
	font-size: 22px;
	color: #505960;
}

.news-top-l p {
	float: left;
	width: 100%;
	line-height: 22px;
	font-size: 15px;
	color: #505960;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.news-top-l button {
	float: left;
	width: 100%;
	margin: 6px 0;
	height: 64px;
	font-size: 18px;
	background-color: #CBCBCB;
	color: #26B7BC;
	border: none;
}

.news-top-r {
	width: 437px;
	float: left;
	text-align: center;
}

.news-top-r img {
	width: 410px;
	height: 248px;
}

.news-list {
	float: left;
	width: 100%;
}

.news-list li {
	float: left;
	padding: 30px 0;
	width: 100%;
	border-bottom: 2px solid #a2a4b4;
}

.news-list li:last-child {
	border-bottom: none;
}

.introduce .date {
	float: left;
	width: 78px;
	height: 78px;
	padding: 12px;
	color: #26B7BC;
	background-color: #cbcbcb;
}

.introduce .date h1 {
	width: 100%;
	float: left;
	margin-top: 26px;
	line-height: 30px;
	font-weight: bold;
	font-size: 30px;
}

.introduce .date p {
	width: 100%;
	float: left;
	font-size: 15px;
	color: #26B7BC;
}

.introduce-infor {
	float: left;
	width: 753px;
	padding: 0 20px;
}

.introduce-infor h1 {
	font-size: 22px;
	float: left;
	width: 100%;
	margin-bottom: 16px;
	line-height: 22px;
	color: #505960;
}

.introduce-infor p {
	font-size: 15px;
	float: left;
	width: 100%;
	line-height: 20px;
	color: #606363;
}

.main .right {
	float: left;
	padding-top: 26px;
	width: 340px;
	padding-left: 24px;
}

#culture {
	width: 100%;
}

#culture-nav {
	width: 150px;
	float: left;
	border-right: 2px solid #ABABAB;
	height: 564px;
	zoom: 1;
	padding-top: 92px;
}

#culture-nav li {
	height: 50px;
	cursor: pointer;
	line-height: 50px;
	width: 150px;
}

#culture-nav li.current {
	border-right: 2px solid #c7000b;
}

#culture-content {
	float: left;
	padding-top: 77px;
}

#culture-content div {
	width: 671px;
	line-height: 25px;
	display: none;
	margin: 0 36px;
	padding: 10px 0;
}

#culture-content div img {
	margin: 22px 0;
}

.crumbs-wrap {
	width: 1295px;
	margin: 0 auto;
	padding-left: 13px;
	height: 100%;
}

.main-wrap {
	width: 1295px;
	margin: 0 auto;
}

.grow-up {
	float: left;
	width: 100%;
	height: 666px;
	background: url(../image/chengzhang.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.grow-bottom {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.grow-bottom-wrap {
	width: 1290px;
	margin: 0 auto;
}

/* 分页 */
/* 外面盒子样式---自己定义
  */
.page_div {
	float: left;
	width: 100%;
	height: 63px;
	line-height: 63px;
	background-color: #CBCBCB;
	margin-top: 20px;
	margin-bottom: 80px;
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #666666;
	box-sizing: border-box;
	text-align: center;
}

/*
 * 页数按钮样式
 */
.page_div a {
	min-width: 30px;
	height: 28px;
	border: none;
	text-align: center;
	margin: 0 4px;
	cursor: pointer;
	line-height: 28px;
	color: #666666;
	font-size: 13px;
	display: inline-block;
}

#firstPage,
#lastPage {
	width: 50px;
	color: #606363;
	border: none;
}

#prePage,
#nextPage {
	border-radius: 50%;
	color: #0073A9;
	border: none;
}

.page_div .current {
	background-color: #26B7BC;
	color: #FFFFFF;
	border-radius: 50%;
}

.totalPages {
	margin: 0 10px;
}

.totalPages span,
.totalSize span {
	color: #0073A9;
	margin: 0 5px;
}
