{template "content","header"}

<link rel="stylesheet" href="{CSS_PATH}style.css" />
<link rel="stylesheet" href="{CSS_PATH}swiper-bundle.min.css" />
<link rel="stylesheet" href="{CSS_PATH}about.css" />
<style>
    .introduce {
        width: auto ;
    }
    .grow-up{
        float: left;
        width: 100%;
        height: 666px;
        background: url("{IMG_PATH}chengzhang.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    .crumbs .zhu{
        background: url("{IMG_PATH}icon2.png") no-repeat 0 32px;
        padding-left: 23px;
    }
    .crumbs a.on {
        background: url("{IMG_PATH}icon1.png") no-repeat 0 36px;
    }
    .grow-up-wrap {
        position: absolute;
        width: 100%;
        height: 400px;
        left: 0;
        bottom: 0;
    }

    .swiper-wrapper {
        width: 1290px;
        margin: 0 auto;
    }

    .swiper-slide {
        float: left;
        width: 1290px;
    }

    .swiper-slide img {
        /* width: 100%;
        height: 100%;
        float: left; */
    }
    .swiper-button-next, .swiper-button-prev{
        color: #FFFFFF!important;
    }
</style>
<!-- 导航 -->
<div class="banner">
    <img src="{IMG_PATH}about-banner.png"/>
</div>
<div class="infor">
    <!-- <div class="infor-wrap"> -->
    <div class="crumbs">
        <div class="crumbs-wrap">
            <a href="index.php" class="zhu">中住地产</a>
            <a class="on">中住介绍</a>
        </div>

    </div>
    <div class="infor-nav">
        <ul class="tab-nav tab1">
            <li id="t_intro" class="hover">中住介绍</li>
            <li id="t_culture" class="">企业文化 </li>
            <li id="t_progress" class="">成长历程</li>
        </ul>
        <div class="xian" style="left: 0;"></div>
    </div>

    <div class="tab-box" style="display: block;">
        <div class="main">
            <div class="main-wrap">
                <div class="left">
                    {pc:content action="lists" catid="15" num="1" order="id DESC" page="$page" moreinfo=1}
                    {loop $data $r}
                    <div class="introduce">
                        <h1>{$r[description]}</h1>
                        {$r[content]}
                    </div>
                    {/loop}
                    {/pc}
                </div>
                {template "content","right_img"}
            </div>

        </div>
    </div>

    <div class="tab-box none" style="display: none;">
        <div class="main">
            <div class="main-wrap">
                <div class="left">
                    <div class="corp-culture" id="culture">
                        <ul id="culture-nav">
                            {pc:content action="lists" catid="13" num="3" order="id DESC" page="$page" moreinfo=1}
                            {php $n=1}
                            {loop $data $r}
                            <li {if $n==1}class="current" {/if}>{$r[title]}</li>
                            {php $n++}
                            {/loop}
                            {/pc}
                        </ul>
                        <div id="culture-content">
                            {pc:content action="lists" catid="13" num="3" order="id DESC" page="$page" moreinfo=1}
                            {php $n=1}
                            {loop $data $r}
                            <div {if $n==1}style="display:block;{/if}">
                                <p>{$r[content]}</p>
                                <img src="{$r[thumb]}" />
                            </div>
                            {php $n++}
                            {/loop}
                            {/pc}
                            <div>
                                <p>
                                    价值观：利他客户需求至上，团队利益为先，利他才能利己。

                                    合作目标一致、勇于担当、齐心协力、彼此配合。

                                    宽容多用审视的眼光看自己，多用赞赏的心态看别人。

                                    诚信做真事、尊重事实、说真话、信守承诺。

                                    敬业提前规划、有条不紊、效率为先、精益求精、客户为先、及时响应。

                                    感恩常怀感恩之心，常为感恩之行。
                                </p>
                            </div>
                            <div>
                                <p>
                                    员工幸福：打造赋能型平台，创造员工精神物质双丰收

                                    客户感动：洞察客户心理与实质需求，提供超期望值服务

                                    行业发展：严守法律法规，以身作则带动行业环境优化

                                    社会和谐：企业发展与社会责任并重，树立和谐发展观
                                </p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                {template "content","right_img"}
            </div>
        </div>
    </div>
    <div class="tab-box none" style="display: none;">
        <div class="main">
            <div class="grow-up">
                <!-- 成长历程切换 -->
                <div class="grow-up-wrap">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!--成长历程轮播图id-->
                            {pc:content action="lists" catid="17" num="5" order="id DESC" page="$page" moreinfo=1}
                            {loop $data $r}
                            <div class="swiper-slide">
                                <img src="{$r[thumb]}"/>
                            </div>
                            {/loop}
                            {/pc}
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
            <div class="grow-bottom">
                <div class="grow-bottom-wrap">
                    <!--成长历程footer图片id-->
                    {pc:content action="lists" catid="18" num="2" order="id DESC" page="$page" moreinfo=1}
                    {loop $data $r}
                    <img src="{$r[thumb]}"  />
                    {/loop}
                    {/pc}
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->
</div>



<!--main-->
<!--<div class="main">-->
<!--	<div class="col-left channel-hot">-->
<!--    	<div class="news-hot">-->
<!--        <div class="icon"></div>-->
<!--        	<div class="content">-->
<!--        	{pc:content  action="position" posid="10" catid="$catid" thumb="1" order="listorder DESC" num="2"}-->
<!--				{loop $data $v}-->
<!--				  <h4 class="blue"><a href="{$v[url]}" target="_blank"{title_style($v[style])}>{$v[title]}</a></h4>-->
<!--                <p><img src="{thumb($v[thumb],90,60)}" width="90" height="60" />{str_cut(strip_tags($v[description]), 150)}</p>-->
<!--                <div class="bk20 hr"><hr /></div>-->
<!--				{/loop}-->
<!--			{/pc}-->
<!--			{pc:content  action="lists" catid="$catid" order="id DESC" num="3"}-->
<!--                <ul class="list">-->
<!--                {loop $data $k $v}-->
<!--                	<li>·<a href="{$v[url]}" title="{$v[title]}" target="_blank"{title_style($v[style])}>{str_cut($v[title], 60)}</a></li>-->
<!--                {/loop}-->
<!--                </ul>-->
<!--             {/pc}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    -->
<!--    -->
<!--    <div class="col-auto channel-slide">-->
<!--    {pc:content  action="lists" catid="$catid" order="listorder ASC" thumb="1" num="5"}-->
<!--  		<ul class="thumb">-->
<!--  		{loop $data $k $v}-->
<!--        	<li {if $n==1}class="on" style="margin:0"{/if}><a href="{$v[url]}"><img src="{thumb($v[thumb], 82, 50)}"  alt="{$v[title]}" width="82" height="50" /><div class="icon"></div></a></li>-->
<!--        {/loop}-->
<!--        </ul>-->
<!--        <div class="col-auto">-->
<!--            <ul class="photo">-->
<!--            {loop $data $k $v}-->
<!--                <li><a href="{$v[url]}" title="{$v[title]}"><img src="{thumb($v[thumb], 398, 234)}" width="398" height="234" alt="{$v[title]}" /></a></li>-->
<!--            {/loop}-->
<!--            </ul>-->
<!--            <div class="title">-->
<!--            {loop $data $k $v}-->
<!--              <p  {if $n==1}style="display:block"{/if}><strong><a href="{$v[url]}" title="{$v[title]}" class="blue"{title_style($v[style])}>{str_cut($v[title], 36)}</a></strong><br />{str_cut(strip_tags($v[description]), 62)}</p>-->
<!--            {/loop}-->
<!--          </div>-->
<!--        </div>-->
<!--         {/pc}-->
<!--    </div>-->
<!-- &lt;!&ndash;下面这部分代码是广告代码，可通过删除注释的方法显示出来&ndash;&gt;-->
<!-- &lt;!&ndash; -->
<!--    <div class="ads">-->
<!--    	<div class="col-left"><script language="javascript" src="{APP_PATH}caches/poster_js/4.js"></script></div>-->
<!--        <div class="col-auto">-->
<!--        	<div class="left">推广链接</div>-->
<!--            <div class="right">这里放广告</div>-->
<!--        </div>-->
<!--  </div>-->
<!--  &ndash;&gt;-->
<!--  <div class="bk10"></div>-->
<!--	<div class="col-left">-->
<!--	{php $j=1;}-->
<!--	{loop subcat($catid) $v}-->
<!--	{php if($v['type']!=0) continue;}-->
<!--        <div class="box cat-area" {if $j%2==1}style="margin-right:10px"{/if}>-->
<!--        		<h5 class="title-1">{$v[catname]}<a href="{$v[url]}" class="more">更多>></a></h5>-->
<!--             <div class="content">-->
<!--             	-->
<!--				{pc:content action="lists" catid="$v[catid]" thumb="1" num="1" order="id DESC"}-->
<!--				<p>-->
<!--					{loop $data $v}-->
<!--						<a href="{$v[url]}" target="_blank"><img src="{thumb($v[thumb],70,60)}" width="70" height="60"/></a>-->
<!--						<strong><a href="{$v[url]}" target="_blank" title="{$v[title]}"{title_style($v[style])}>{str_cut($v[title], 30)}</a></strong><br />{str_cut($v[description],116,'..')}-->
<!--					{/loop}-->
<!--					</p>-->
<!--				{/pc}-->
<!--                -->
<!--                <div class="bk15 hr"></div>-->
<!--                <ul class="list  lh24 f14">-->
<!--                {pc:content action="lists" catid="$v[catid]" num="5" order="id DESC"}-->
<!--					{loop $data $v}-->
<!--						<li><a href="{$v[url]}" target="_blank"{title_style($v[style])}>{$v[title]}</a></li>-->
<!--					{/loop}-->
<!--				{/pc}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        {if $j%2==0}<div class="bk10"></div>{/if}-->
<!--	{$j++}-->
<!--	{/loop}-->
<!--  </div>-->
<!--    <div class="col-auto">-->
<!--        <div class="box">-->
<!--            <h5 class="title-2">频道总排行</h5>-->
<!--            <ul class="content digg">-->
<!--            {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}-->
<!--				{loop $data $v}-->
<!--					<li><a href="{$v[url]}" target="_blank"{title_style($v[style])}>{$v[title]}</a></li>-->
<!--				{/loop}-->
<!--			{/pc}-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="bk10"></div>-->
<!--        <div class="box">-->
<!--            <h5 class="title-2">频道本月排行</h5>-->
<!--            <ul class="content rank">-->
<!--            {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}-->
<!--				{loop $data $v}-->
<!--				<li><span>{number_format($v[monthviews])}</span><a href="{$v[url]}"{title_style($v[style])} class="title" title="{$v[title]}">{str_cut($v[title],56,'...')}</a></li>-->
<!--				{/loop}-->
<!--			{/pc}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--function ChannelSlide(Name,Class){-->
<!--	$(Name+' ul.photo li').sGallery({-->
<!--		titleObj:Name+' div.title p',-->
<!--		thumbObj:Name+' .thumb li',-->
<!--		thumbNowClass:Class-->
<!--	});-->
<!--}-->
<!--new ChannelSlide(".channel-slide","on",311,260);-->
<!--</script>-->
<script src="{JS_PATH}jquery-1.min.js"></script>
<script src="{JS_PATH}swiper-bundle.min.js"></script>
<script src="{JS_PATH}nav.js"></script>
<script>
    //房源选项卡
    $(document).ready(function() {
        function tab(i) {
            $(i).children().click(function() { //触发方式//click//mouseover
                $(this).siblings().removeClass();
                $(this).addClass('hover');
                $(this).parent().parent().siblings('.tab-box').hide();
                $(this).parent().parent().siblings('.tab-box').eq($(this).index()).show();
                console.log('index:'+$(this).index());
                if ($(this).index() == 0) {
                    $('.xian').animate({
                        left: '0px'
                    });
                } else if ($(this).index() == 1) {
                    {
                        $('.xian').animate({
                            left: '80px'
                        });
                    }
                } else if ($(this).index() == 2) {
                    {
                        $('.xian').animate({
                            left: '160px'
                        });
                    }
                } else if ($(this).index() == 3) {
                    {
                        $('.xian').animate({
                            left: '240px'
                        });
                    }
                }
            })
        }

        //tab调用
        $(function() {
            tab('.tab1')
            tab('.tab2')
            var url = location.href;
            var url_arr = url.split('?');
            console.log(url_arr);
            var tab_id = url_arr[1];
            $("#t_"+tab_id).click();
        })
        $(function() {
            $(".nav").click(function() {
                $(this).toggleClass("color").siblings().removeClass("color") //颜色
                $(this).next().slideToggle(500).siblings("ul").slideUp(500);
            })
        })
    });
</script>
<script>
    $(function() {
        var $li = $('#culture-nav li'); //获取每一个标题和内容用变量存起来
        var $ul = $('#culture-content div');

        $li.click(function() {
            var $this = $(this); //用变量把点击的每一个当前的li存起来
            var $t = $this.index(); // 获取当前li下标
            $li.removeClass(); //因为默认是第一个显示  所以先移除
            $this.addClass('current'); //再添加当前的
            $ul.css('display', 'none'); //因为默认是第一个显示  所以先隐藏
            $ul.eq($t).css('display', 'block'); //当前内容再出现
        })
    });
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        // cssMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        observer: true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents: true //修改swiper的父元素时，自动初始化swiper
    });
</script>

{template "content","footer"}