
{template "content","header"}

<link rel="stylesheet" href="{CSS_PATH}style.css" />
<link rel="stylesheet" href="{CSS_PATH}index.css" />

<style>

    .banner {
        float: left;
        width: 100%;
        height: 471px;
    }

    .swiper-slide {
        height: 471px;
    }

    .swiper-slide img {
        float: left;
        width: 100%;
        height: 100%;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 200px;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }
</style>
<body>

<!-- 轮播 -->
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}
                    {loop $data $r}
                        <div class="swiper-slide">
                            <img src="{$r['thumb']}" />
                        </div>
                    {/loop}
            {/pc}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- 内容 -->
<div class="exhibition_top">
    <div class="ex_top-wrap">
        {pc:announce  action="lists" siteid="$siteid" num="2"}
            <div class="introduce">
                <h1>{$data[0]['title']}</h1>
                <p>{$data[0][content]}</p>
            </div>
        {/pc}
        <!-- 房源tab -->
        <div class="resources">
            <div class="room">
                <ul class="tab-nav tab1">
<!--                    首页房源标题-->
                    {pc:content action="category" catid="26" num="25" siteid="1"  return="item"}
                    {php $cat_num=0}
                    {loop $item $r}
                    <li {if $cat_num==0} class="hover" {/if}>{$r[catname]}</li>
                    {$cat_num++}
                    {/loop}
                    {/pc}
                </ul>
                <div class="xian" style="left: 0;"></div>
<!--                首页房源内容-->
                {pc:content action="category" catid="26" num="25" siteid="1"  return="item"}
                {php $val_num=0}
                {loop $item $r}
                    <div class="tab-box"  {if $val_num==0} style="display: block;" {else} style="display: none;" {/if}>
                        <ul class="house">
                            {pc:content action="lists" catid="$r[catid]" moreinfo="1"}
                            {loop $data $val}
                            <a href="{$val[content]}">
                                <li>
                                    <img src="{$val[thumb]}" />
                                    <div class="infor">
                                        <p>{$val[title]}</p>
                                        <p>{$val[keywords]}</p>
                                        <p>{$val[description]} </p>
                                    </div>
                                </li>
                            </a>
                            {/loop}
                            {/pc}
                        </ul>
                    </div>
                {$val_num++}
                {/loop}
                {/pc}
            </div>
        </div>
    </div>
</div>
<!-- 内容底部图片 -->
<!--todo-->
<div class="exhibition_bottom">
    <div class="ex_b-wrap">
        {pc:content  action="lists" catid="22"   num="3"}
        {loop $data $r}
        <img src="{thumb($r[thumb],400,190)}" />
        {/loop}
        {/pc}
    </div>
</div>

</body>
<script src="{JS_PATH}jquery-1.min.js"></script>
<script src="{JS_PATH}swiper-bundle.min.js"></script>
<script src="{JS_PATH}nav.js"></script>

<script>
    //房源选项卡
    $(document).ready(function() {
        function tab(i) {
            $(i).children().click(function() { //触发方式//click//mouseover
                $(this).siblings().removeClass();
                $(this).addClass('hover');
                $(this).parent().siblings('.tab-box').hide();
                $(this).parent().siblings('.tab-box').eq($(this).index()).show();
                if ($(this).index() == 0) {
                    $('.xian').animate({
                        left: '0px'
                    });
                } else if ($(this).index() == 1) {
                    {
                        $('.xian').animate({
                            left: '80px'
                        });
                    }
                } else if ($(this).index() == 2) {
                    {
                        $('.xian').animate({
                            left: '160px'
                        });
                    }
                } else if ($(this).index() == 3) {
                    {
                        $('.xian').animate({
                            left: '240px'
                        });
                    }
                }
            })
        }

        //tab调用
        $(function() {
            tab('.tab1')
            tab('.tab2')
        })
        $(function() {
            $(".nav").click(function() {
                $(this).toggleClass("color").siblings().removeClass("color") //颜色
                $(this).next().slideToggle(500).siblings("ul").slideUp(500);
            })
        })
    });
</script>





<!--{pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}-->
<!--<div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-style">-->
<!--    <div class="swiper-wrapper ">-->
<!--        {loop $data $r}-->
<!--            <img class="swiper-slide" src="{thumb($r['thumb'],1000,400)}" >-->
<!--        {/loop}-->
<!--    </div>-->
<!--    &lt;!&ndash; Add Pagination &ndash;&gt;-->
<!--    <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>-->
<!--    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>-->
<!--</div>-->
<!--{/pc}-->

<!--<div class="content-brief">-->
<!--    <div class=""></div>-->
<!--    <div></div>-->
<!--</div>-->

<!--main-->
<!--<div class="main">-->
<!--	<div class="col-left">-->
<!--    	<div class="news-hot">-->
<!--        	<div class="content">-->
<!--        	{pc:content  action="position" posid="2" order="listorder DESC" num="4"}-->
<!--        	 {loop $data $r}-->
<!--                <h4 class="blue"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],36,'')}</a></h4>-->
<!--                <p>{if $n==1}<img src="{thumb($r[thumb],90,60)}" width="90" height="60"/>{/if}{str_cut($r[description],112)}</p>-->
<!--                <div class="bk20 hr"><hr /></div>-->
<!--               {/loop}-->
<!--             {/pc}-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="slide">-->
<!--            <div class="FocusPic">-->
<!--        &lt;!&ndash; 首页轮播图&ndash;&gt;-->
<!--            {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}-->
<!--            	<div class="content" id="main-slide">-->
<!--                    <div class="changeDiv">-->
<!--                    {loop $data $r}-->
<!--                        <a href="{$r['url']}" title="{str_cut($r['title'],30)}"><img src="{thumb($r['thumb'],310,260)}" alt="{$r['title']}" width="310" height="260" /></a>-->
<!--                    {/loop}-->
<!--                    </div>-->
<!--                </div>-->
<!--            {/pc}-->
<!--            </div>-->
<!--            <div class="bk10"></div>-->
<!--        	<div class="box extend">-->
<!--            	<div class="col-left">争议</div>-->
<!--                <div class="col-auto">-->
<!--				{pc:block pos="index_block_1"}{/pc}-->
<!--				</div>-->
<!--                <script language="javascript" src="{APP_PATH}caches/poster_js/10.js"></script>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="bk10"></div>-->
<!--        <div class="box">-->
<!--        		<h5>图片新闻</h5>-->
<!--            &lt;!&ndash;首页三张图&ndash;&gt;-->
<!--          {pc:content  action="position" posid="12" thumb="1" order="listorder DESC" num="10"}-->
<!--            <ul class="content news-photo picbig">-->
<!--             {loop $data $r}-->
<!--            	<li>-->
<!--                    <div class="img-wrap">-->
<!--                        <a href="{$r[url]}" title="{$r[title]}"><img src="{thumb($r[thumb],110,0)}" title="{$r[title]}"/></a>-->
<!--                    </div>-->
<!--                    <a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],20)}</a>-->
<!--                </li>-->
<!--                {/loop}-->
<!--            </ul>-->
<!--            {/pc}-->
<!--        </div>-->
<!--        <div class="bk10"></div>-->
<!--        {loop subcat(0,0,0,$siteid) $r}-->
<!--        {php $num++}-->
<!--        <div class="box cat-area" {if $num%2!=0}style=" margin-right:10px"{/if}>-->
<!--        		<h5 class="title-1">{$r[catname]}<a href="{$r[url]}" class="more">更多>></a></h5>-->
<!--             <div class="content">-->
<!--             {pc:content  action="lists" catid="$r[catid]" order="updatetime DESC" thumb="1" num="1" return="info"}-->
<!--             {loop $info $v}-->
<!--             	<p>-->
<!--             		<img src="{thumb($v[thumb],90,0)}" width="90" height="60"/>-->
<!--                    <strong><a href="{$v['url']}" target="_blank" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],28)}</a></strong><br />{str_cut($v['description'],100)}-->
<!--                </p>-->
<!--              {/loop}-->
<!--              {/pc}-->
<!--                <div class="bk15 hr"></div>-->
<!--                {pc:content action="lists" catid="$r[catid]" num="5" order="id DESC" return="info"}-->

<!--                <ul class="list lh24 f14">-->
<!--                {loop $info $v}-->
<!--                	<li>·<a href="{$v['url']}" target="_blank" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],40)}</a></li>-->
<!--                {/loop}-->
<!--                </ul>-->
<!--                {/pc}-->
<!--            </div>-->
<!--        </div>-->
<!--        {if $num%2==0}<div class="bk10"></div>{/if}-->
<!--		{/loop}-->
<!--    </div>-->
<!--    <div class="col-auto">-->
<!--    	<div class="box">-->
<!--        	 <h5 class="title-2">公告<a href="" class="more">&nbsp;</a></h5>-->
<!--             <div class="content">-->
<!--            &lt;!&ndash;首页文章&ndash;&gt;-->
<!--                {pc:announce  action="lists" siteid="$siteid" num="2"}-->
<!--                <ul class="list lh24 f14">-->
<!--                   {loop $data $r}-->
<!--                     <li> <a href="{APP_PATH}index.php?m=announce&c=index&a=show&aid={$r['aid']}">{$r['title']}</a></li>-->
<!--                    <li><span>{$r[content]}</span></li>-->
<!--                   {/loop}-->
<!--                </ul>-->
<!--                {/pc}-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="bk10"></div>-->
<!--        <div class="box">-->
<!--        	<h5 class="title-2">专题<a href="{APP_PATH}index.php?m=special&c=index&a=special&siteid={$siteid}" class="more">更多>></a></h5>-->
<!--            <div class="content special">-->
<!--            {pc:special  action="lists" siteid="$siteid" elite="1" listorder="3" num="2"}-->
<!--            {loop $data $r}-->
<!--            	{if $n!=1}<div class="hr bk15"></div>{/if}-->
<!--                <p style="margin:0">-->
<!--             		<a href="{$r[url]}"><img src="{$r[thumb]}" width="90" height="70" /></a>-->
<!--                    <strong><a href="{$r[url]}">{str_cut($r[title],'18')}</a></strong><br />{str_cut($r['description'],50)}-->
<!--                </p>-->
<!--            {/loop}-->
<!--            {/pc}-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="bk10"></div>-->
<!--        <div class="box">-->
<!--            <h5 class="title-2"><span class="rt fn f12 tab SwapTab"><span class="fb">热点</span> | <span >评论</span> | <span>关注</span></span>排行</h5>-->
<!--            <div class="tab-content">-->
<!--            <ul class="content digg">-->
<!--			{pc:content action="hits" catid="6" num="10" order="views DESC"}-->
<!--				{loop $data $r}-->
<!--					<li><a href="{$r[url]}" target="_blank" title="{$r[title]}"{title_style($r[style])}>{$r[title]}</a></li>-->
<!--				{/loop}-->
<!--			{/pc}-->
<!--            </ul>-->
<!--            <ul class="content digg hidden">-->
<!--			{pc:comment action="bang" num="10" cache="3600"}-->
<!--				{loop $data $r}-->
<!--					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>-->
<!--				{/loop}-->
<!--			{/pc}-->
<!--            </ul>-->
<!--            <ul class="content digg hidden">-->
<!--			{pc:content action="hits" catid="6" num="10" order="views DESC"}-->
<!--				{loop $data $r}-->
<!--					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>-->
<!--				{/loop}-->
<!--			{/pc}-->
<!--            </ul>-->
<!--            </div>-->
<!--        </div><div class="bk10"></div>-->
<!--        <div class="box">-->
<!--            <h5 class="title-2">调查问卷<a href="{APP_PATH}index.php?m=vote&c=index&siteid={$siteid}" class="more">更多>></a></h5>-->

<!--<script language="javascript" src="{APP_PATH}index.php?m=vote&c=index&a=show&action=js&subjectid=1&type=3"></script>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="bk10"></div>-->

<!--	<div class="box blogroll ylink">-->
<!--    	<h5><a href="{APP_PATH}index.php?m=link&siteid={$siteid}" hidefocus="true" class="rt">更多>></a>友情链接<a href="{APP_PATH}index.php?m=link&c=index&a=register&siteid={$siteid}" class="red">申请链接</a></h5>-->
<!--        <div class="bk10"></div>-->
<!--	<ul class="colli imgul">-->
<!--        {pc:link  action="type_list" siteid="$siteid" linktype="1" order="listorder DESC" num="8" return="pic_link"}-->
<!--        {loop $pic_link $v}-->
<!--        <li><a href="{$v['url']}" title="{$v['name']}" target="_blank"><img src="{$v[logo]}" width="88" height="31" /></a></li>-->
<!--        {/loop}-->
<!--        {/pc}-->
<!--    </ul>-->
<!--     {pc:link  action="type_list" siteid="$siteid" order="listorder DESC" num="10" return="dat"}-->
<!--     <div class="bk10"></div>-->
<!--	<div class="linka">-->
<!--		{loop $dat $v}-->
<!--              {if $type==0}-->
<!--              <a href="{$v[url]}" target="_blank">{$v[name]}</a> |-->
<!--              {else}-->
<!--              <a href="{$v[url]}" target="_blank"><img src="{$v[logo]}" width="88" height="31" style="border: 1px solid #FFBE7A;"></a>-->
<!--              {/if}-->
<!--		{/loop}-->
<!-- 	</div>-->
<!--	{/pc}-->
<!--</div>-->
<!--</div>-->
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
<script type="text/javascript">
// $(function(){
// 	new slide("#main-slide","cur",310,260,1);//焦点图
// 	new SwapTab(".SwapTab","span",".tab-content","ul","fb");//排行TAB
// })
</script>
{template "content","footer"}